<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColonyGuide.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>70F27A6958F50B09A3A189CE296235EE6A4B5378</string>
				<key>dateExpires</key>
				<string>13/09/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5RQ37W69H4.com.phppoets.colonyguide</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5RQ37W69H4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ColonyGuide.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>80abd710-5299-44d8-9a83-ac3312dbc828</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.phppoets.colonyguide</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5RQ37W69H4</string>
				<key>name</key>
				<string>Ankit Sisodiya</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
